table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 10px 0;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

table input[type="checkbox"]{
	width: 20px;
    height: 20px;
}
.card-meta{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	margin: 0 10px !important;
	margin-bottom: 50px !important;
	border-radius: 18px !important;
	padding-bottom: 10px !important;
	box-shadow: 5px 5px 5px 5px #000;
}
.card-text, .card-titulo{
	font-size: 22px !important;
	font-weight: bold;
}
.row-card{
	display: flex;
    justify-content: space-evenly;
    margin: 0 10px !important;
    margin-bottom: 50px !important;
    border-radius: 18px !important;
    padding-bottom: 10px !important;
}
.img-meta{
	border: 3px solid black !important;
	border-radius: 15px !important;
	margin: 10px !important;
	justify-content: center;
}
.caixa-login{
	display: flex;
	justify-content: center;
	margin: 50px 70px 70px 70px;
	padding: 60px 20px;
	width: 40%;
	border-radius: 15px;
	box-shadow: 10px 10px 5px 2px #cbc6c6;
	background-color: white;
}
.cabecalho{
	display:grid;
	justify-content: space-around;
    padding: 15px 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px #cbc6c6;
    background-color: white;
	font-size: 18px !important;
}
.cabecalho ul{
	align-items: center !important;
}
.cabecalho li{
	margin: 0 1em;
}
.cabecalho a{
	text-decoration: none;
    color: black;
}

.personalizado{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.form-control{
	box-shadow: 5px 5px 5px #cbc6c6;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url('/pcc/background.jpg');
	background-size: cover;
}

.caixa-home{
	display:grid;
	background-color: #FFFFFF;
	border-radius: 40px;
	padding: 20px;
	margin-bottom: 20px;
    box-shadow: 10px 10px 5px 3px #b4b3b3;
	width: 80%;
}
.caixa-cadastro{
	display:grid;
	background-color: #FFFFFF;
	border-radius: 40px;
	padding: 20px;
	margin-bottom: 20px;
    box-shadow: 10px 10px 5px 3px #b4b3b3;
	width: 80%;
	justify-content: center;
}
h1{
	font-size: 35px !important;
}
h2{
	font-size: 30px !important;
}